@tailwind base;
@tailwind components;
@tailwind utilities;

.cat-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
}
